body {
    background-color:#241b2f;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 200px 100px;
    justify-self: center;
    margin: auto;
    z-index: -2;
    
}
header h1 {
    color:#795f94;
}
h1 {
    font-size: 2em;
    grid-column: 1/3;
    grid-row: 2/3;
    text-align: center;
    color: #4fc6aa;
}
h2 {
    text-align: center;
    color: #4fc6aa;
}
ul, ol {
    text-align: left;
    color: #4fc6aa;
}
#assignments {
    grid-column: 1/2;
    grid-row: 1/4;
    border-style: solid;
    border-color: #361d43;
    padding: 10px;
    justify-self: center;
    background-color: #262335;
}
#assignments h2 {
    color:#795f94;
}
#ice-challenges {
    grid-column: 2/2;
    grid-row: 1/4;
    border-style: solid;
    border-color: #361d43;
    padding: 10px;
    justify-self: center;
    background-color:#262335;
}
#ice-challenges h2 {
    color:#795f94;
}
#resources {
    color: #4fc6aa;
    grid-column: 1/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin:auto;
    border-style: solid;
    border-color: #361d43;
    background-color:#262335;
    padding: 5px;
    justify-content: center;
}
#html {
    grid-column: 1/2;
    grid-row: 1/2;
}
#css {
    grid-column: 2/3;
    grid-row: 1/2;
}
#python {
    grid-column: 1/2;
    grid-row: 2/3;
}
#javascript {
    grid-column: 2/3;
    grid-row: 2/3;
}
#background-box {
    background-color:#241b2f;
    grid-column: 1/3;
    grid-row: 1/5;
    z-index: -1;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 1%;
}
li {
    color:#306b4a;
}
a {
    color: #e1b94c;
}