BODY
{
margin: 0;
color: #000000;
font-size: 11.00px;
font-family: Verdana, Arial;
background-color: #FFFFFF;
}

/*
// Determines the positioning of your list
*/

#list_surround
{
margin: 0 auto;
width: 920px;
}

/*
// All links on your list
*/

a
{
color: #51819f;
text-decoration: none;
}

a:visited
{
color: #51819f;
text-decoration: none;
}

a:hover
{
color: #51819f;
text-decoration: underline;
}

/*
// Modal
*/

.mal-modal .mal-modal-dialog .mal-modal-content .mal-modal-body .modal-vote-score li a {
    border: 1px solid #51819f !important;
}
.mal-modal .mal-modal-dialog .mal-modal-content .mal-modal-body .modal-vote-score li a:hover {
    background-color: #51819f !important;
    color: #ffffff;
}

/*
// Alternating row color 1
*/

.td1
{

color: #000000;
border-width: 0px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
padding: 2px;
background-color: #FFFFFF;
}

/*
// Alternating row color 2
*/

.td2
{

color: #000000;
border-width: 0px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
padding: 2px;
background-color: #F1F1F1;
}

/*
// This represents the "Anime Title", "Score", "# Eps" columns
*/

.table_header
{

color: #000000;
border-width: 1px 1px 1px 0px;
border-style: solid;
border-color: #ABABAB;
background-color: #E7F1F7;
padding: 2px;
}

/*
// headerLink represents the color of the links inside the table_header
*/

.table_headerLink
{
color: ;
}

.table_headerLink:Visited
{
color: ;
}

.table_headerLink:Hover
{
color: ;
}

/*
// Controls the select form decoration (the drop down select box)
*/

.form
{
border-width: 1px 1px 1px 1px;
border-color: #ABABAB;
border-style: solid;
color: #000000;
padding: 2px;
font-size: 11.00px;
font-family: Verdana, Arial;
}


/* Which 'status' up top is selected? */

.status_selected
{

	color: #000000;
	border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #ABABAB;
    padding: 2px;
    background-color: #FFFFFF;
	}

.status_not_selected
{

	color: #000000;
	border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: #ABABAB;
    padding: 2px;
    background-color: #F1F1F1;
	}

/*
Header classes for Currently Watching, Completed, Dropped, etc...
*/

.header_cw
{

}

.header_completed
{

}

.header_onhold
{

}

.header_dropped
{

}

.header_ptw
{

}

.header_title {
font-size: 14px;
font-weight: bold;
}


.category_totals
{

}

#grand_totals
{
text-align: center;
}

/* header_al is the div surrounding "User's Anime List" at the top */

.header_al
{
font-weight: bold;
font-size: 16px;
}

/* header_al_links is the div with your "Profile" and "MyAnimeList home" links */
.header_al_links
{

}

/* controls what styles you can give to all the anime titles in your list */
.animetitle
{
font-weight: bold;
}

/*
copyright contains the "Producted by Garrett Gyssler" text
DO NOT REMOVE OR HIDE THIS DIV
IF FOUND TO BE REMOVED, YOUR LIST WILL BE REMOVED TOO
*/

#copyright
{
padding-top: 6px;
text-align: center;
margin: 0 auto;
width: 920px;
}

#recaptcha-terms {
    text-align: center;
    font-size: 8px;
    margin-top: 4px;
    width: 920px;
}

.grecaptcha-badge {
    visibility: hidden;
}


