* {
    box-sizing:border-box;
}
main {
    
}
img {
    max-width: 100%;
}
.post > img {
    width:100%;
}
body {
    margin:0;
    font-size: 1.4em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post_body {
    padding: .5em;
    text-align: justify;
}
.post_heading {
    text-align:center;
}
.post_heading > p {
    color:#458195;
    margin-bottom: 0.1em;
    font-size: .8em;
}
.post_heading > h2 {
    margin-top: 0;
}
.post_footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: rgb(38, 38, 134);
    color: white;
    text-align:center;
    text-transform:uppercase;
}
.post_footer > p {
    border-right:1px solid rgb(121, 117, 117);
    margin:0;
    padding:.5em;
}
.sub {
    font-size:.5em;
}